<ion-header>
        <ion-toolbar>
          <ion-title>      
            <ion-row>
                <ion-col>
                  <div><ion-icon [routerLink]="'/tabs/tab1'" name="arrow-back"> </ion-icon></div>
                </ion-col>
                <ion-col>
                    <ion-label>Bus</ion-label>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
            </ion-row>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>  
          <ion-item>
              <ion-label position="stacked">Nama Lengkap <ion-text color="danger">*</ion-text></ion-label>
              <ion-input [(ngModel)]="namalengkap" ></ion-input>
           </ion-item> 
           <ion-item>
              <ion-label position="stacked">Nomor Identitas(KTP) <ion-text color="danger">*</ion-text></ion-label>
              <ion-input [(ngModel)]="noktp" ></ion-input>
            </ion-item> 
            <ion-item>
                <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
                <ion-input [(ngModel)]="email" ></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Start Date</ion-label>
                <ion-datetime [(ngModel)]="_dataK.Berangkat" value="2019-10-22" placeholder="Select Date"></ion-datetime>
              </ion-item>
            <ion-list>
                <ion-radio-group [(ngModel)]="class"> 
                  <ion-list-header>
                    <ion-label>Class</ion-label>
                  </ion-list-header>
                  <ion-item>
                    <ion-label>Ekonomi</ion-label>
                    <ion-radio  slot="start" value="Ekonomi" ></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>Bisnis</ion-label>
                    <ion-radio slot="start" value="Bisnis"></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>Eksekutif</ion-label>
                    <ion-radio slot="start" value="Eksekutif"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
              <ion-label padding center text-center>I'm Not Bot</ion-label>
              <ion-checkbox [(ngModel)]="notbot" color="primary"></ion-checkbox>
              <ion-row>
                  <ion-col>
                    <div></div>
                  </ion-col>
                  <ion-col>
                      <ion-button [routerLink]="'/tabs/tab1/detail5'" full (click)="pesan()">Pesan</ion-button>
                  </ion-col>
                  <ion-col>
                    <div></div>
                  </ion-col>
              </ion-row>
             
             
      </ion-content>
      